.login-text {
  h3 {
    font-family: "Maven Pro", sans-serif;
    font-weight: 300;
    margin: 0 0 10px 0;
    font-size: 30px;
    background: linear-gradient(#ff3a26 0%, #ff4600 100%);
    text-shadow: (0px 0px 50px #ff4600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.ortala {
  margin-left: 10%;
  margin-right: 10%;
}
.ortala-test {
    margin:0 10%; 
  }

.login-container {
  background-color: white;
  width: 400px;
  height: 500px;
  display: table;
  background: #050014;
  //filter: drop-shadow(0px 0px 6px #050014);
  filter: drop-shadow(0px 0px 6px #ff0000);
}

.login-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.login-checkbox {
  background: transparent;
  border-radius: 30px;
  width: 110px;
  padding: 8px 10px;
  margin: 8px;
  width: fit-content;
  label {
    color: #ff4600;
    font-family: "Maven Pro", sans-serif;
    font-weight: 300;
    font-size: 13.3px;
  }
}
.test-align{
    float: left;
}