$translateY: -1.6em;
$translateX: 20.5em;
$blockwidth: 18em;
@import "main.scss";

.search-icon {
  float: left;
  background: #050014;
}
.search-input {
  background: #050014;
  border: 0;
  border-bottom: 1px #707070 solid;
  border-top: 1px #707070 solid;
  transition: 1s;
  margin-right: 150px;
  width: 0px;
  float: left;
  color: white;
}

.link.input-div {
  width: 0px;
}
.center {
  position: absolute;
  left: 50%;
  margin-left: -150px;
}
.slogan {
  margin-left: 10%;
  margin-right: 10%;
}

.sloganhover {
  transition: 0.25s;
}
.sloganhover:hover {
  text-shadow: 0 0 8px #707070;
}

.hero-social-links {
  transform: translateY(-0.25em);
  position: fixed;
  //  left: 37%;
  width: fit-content;
}
#search {
  transition: 1s;
}
#search:hover {
  transform: translateX(-$blockwidth);
  .search-input {
    width: $blockwidth;
    float: left;
  }
}
#search:active {
  transform: translateX(-$blockwidth);
  .search-input {
    width: $blockwidth;
    float: left;
    //
  }
}

.link {
  float: left;
}

.social-link {
  margin-right: 16px;
  font-weight: 300;
  color: #353f40;
}
