$translateY: -1.6em;
$translateX: 20.5em;
$blockwidth: 18em;
$searchopentime:0.6s ease;
@import "main.scss";

.search-icon {
  float: left;
  background: #050014;
}
.search-input {
  background: #050014;
  border: 0;
  border-bottom: 1px #707070 solid;
  border-top: 1px #707070 solid;
  transition: $searchopentime;
  margin-right: 150px;
  width: 0px;
  float: left;
  color: white;
  border-color: transparent;;
}

.link.input-div {
  width: 0px;
}
.center {
  position: absolute;
  left: 50%;
  margin-left: -150px;
}
.slogan {
  margin-left: 10%;
  margin-right: 10%;
}

.sloganhover {
  transition: 0.25s ;
}
.sloganhover:hover {
  text-shadow: 0 0 8px #707070;
}

.hero-social-links {
  transform: translateY(-0.25em);
  position: fixed;
  //  left: 37%;
  width: fit-content;
}
#search {
  transition: $searchopentime;
}
#search:hover {
  transform: translateX(-$blockwidth);
  .search-icon{
    color: #707070;
  }
  .search-input {
    opacity: 1;
    border-color: #707070;
    width: $blockwidth;
    float: left;
  }
}
#search:active {
  transform: translateX(-$blockwidth);
  .search-icon{
    color: #707070;
  }
  .search-input {
    border-color: #707070;
    opacity: 1;
    width: $blockwidth;
    float: left;
    //
  }
}

.link {
  float: left;
}

.social-link {
  margin-right: 16px;
  font-weight: 300;
  //color: #353f40;
  color: #5c5c5c;
  padding: 1px 3px;
  margin: 3px;
  border: 3px solid $background-color;
  &:hover {
    border: 2px solid whitesmoke;
    border-radius: 5px;
  }

}

@media screen and (max-width:375px){
  .social-link{
    padding: 0 !important;
  }
  #search:hover {
    transform: translateX(-$blockwidth + 1em);
    .search-input {
      width: $blockwidth - 1em;
    }
  }
  #search:active {
    transform: translateX(-$blockwidth + 1em);
    .search-input {
      width: $blockwidth - 1em;
    }

  }
}